export CLUSTER_NAME=batcave-test
export AWS_DEFAULT_REGION="us-east-1"
export AWS_PROFILE="831579051573_batcave-application-admin"
export KUBECONFIG="${HOME}/.kube/config-${CLUSTER_NAME}"
find . -type d -name ".terragrunt-cache" -prune -exec rm -rf {} \;
